{% extends 'layout.html.twig' %}

{% block title %}Sortir.com{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/style-table.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style-filter.css') }}">
{% endblock %}
{% block body %}

    {% for message in app.flashes('success') %}
        <div class=" container flash-notice">
            {{ message }}
        </div>
    {% endfor %}



    <h1>Bienvenue {{ app.user.username }} !</h1>


    <div class="container">
        <div class="col-lg-12" id="section-filtre">
            {% include 'includes/homeFilter.html.twig' with {form: form} only %}
        </div>
    </div>

    <section id="section-tableau-sorties">

        <div class="tab">
            {% for site in sites %}

                {% if app.user.site == site.name %}

                    <button class="tablinks active"
                            onclick="openCity(event, '{{ site.name }}')">{{ site.name }}</button>
                {% else %}
                    <button class="tablinks" onclick="openCity(event, '{{ site.name }}')">{{ site.name }}</button>

                {% endif %}
            {% endfor %}
        </div>


        {% for site in sites %}

            <!-- Tab content -->

            {% if app.user.site == site.name %}

                <div id="{{ site.name }}" class="tabcontent" style="display: block">
            {% else %}
                <div id="{{ site.name }}" class="tabcontent">
            {% endif %}
            <h3 id="site-name">{{ site.name }}</h3>

            {# Tableau des sorties #}
            <table id="myTable"  class="table table-striped table-hover table-responsive">
                <!--<table id="myTable" data-toggle="table" class="table table-bordered table-orderable table-striped" style="width:75%">-->
                <thead class="thead-light">
                <tr>
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Clôture</th>
                    <th scope="col">Inscrits/Places</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Déjà inscrit ?</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>


                {% for sortie in sorties %}

                <!-- CLOTURE DE LA SORTIE -->
                {% set closingDate = sortie.closingDate|date('m/d/Y') %}
                {% set today = "now"|date('m/d/Y') %}
                {% set difference = date(today).diff(date(closingDate)) %}
                {% set archivedDays = difference.days %}
                {% if archivedDays < 30 %}

                {% if site.name == sortie.site %}
                <tbody>


                <tr>
                    {# Titre de la sortie #}
                    <td>{{ sortie.name }}</td>

                    {# Date de la sortie #}
                    <td>{{ sortie.startDate|date('d/m/Y à H:i') }}</td>

                    {# Date de cloture de l'inscription #}
                    <td>{{ sortie.closingDate|date('d/m/Y') }}</td>

                    {# Nb inscrits / Nb places #}
                    {% if sortie.subscriptions|length == sortie.numberMaxSub %}
                        <td>
                            <span style="color: red; font-weight: bold">{{ sortie.subscriptions|length }}</span>/{{ sortie.numberMaxSub }}
                        </td>
                    {% else %}
                        <td>
                            <span style="color: green; font-weight: bold">{{ sortie.subscriptions|length }}</span>/{{ sortie.numberMaxSub }}
                        </td>

                    {% endif %}

                    {# Etat de la sortie #}

                    {% if sortie.status == 'Creee' %}

                        <td class="stateLabel">Créée</td>
                    {% elseif sortie.status ==  'Ouverte' %}
                        <td class="stateLabel">{{ sortie.status }}</td>
                    {% elseif sortie.status == 'Cloturee' %}
                        <td class="stateLabel">Clôturée</td>
                    {% elseif sortie.status == 'ActiviteEnCours' %}
                        <td class="stateLabel">Activité en cours</td>
                    {% elseif sortie.status == 'Passee' %}
                        <td class="stateLabel">Passée</td>
                    {% elseif sortie.status == 'Annulee' %}
                        <td class="stateLabel">Annulée</td>
                    {% endif %}

                    {# Déjà Inscrit ? #}
                    {% set subscribed = false %}
                    {% for subscription in app.user.subscriptions %}
                        {% for subscriptions in sortie.subscriptions %}
                            {% if subscription == subscriptions %}
                                {% set subscribed = true %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    {% if subscribed %}
                        <td> Oui</td>
                    {% else %}
                        <td>Pas encore !</td>
                    {% endif %}

                    {# Organisateur #}
                    {% for member in sortie.member %}
                        <td>
                            <a href="{{ path('user_other_profile', {id: member.id}) }}">{{ member.username }}</a>
                        </td>
                    {% endfor %}

                    {# Actions possibles #}
                    <td class="actions">
                        {# Afficher la sortie #}
                        <a href="{{ path('detail', {id: sortie.id}) }}">Afficher</a>

                        {# Publier Version Workflow #}
                        {% for member in sortie.member %}
                            {% if app.user == member %}
                                {% if workflow_can(sortie, 'to_Ouverte') %}
                                    <a href="{{ path('outing_workflow', {
                                        'id' : sortie.id,
                                        'status' : 'to_Ouverte',
                                        'redirect' : app.request.get('_route'),
                                    }) }}">
                                        {{ 'Publier' | trans }}
                                    </a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        {# S'INSCRIRE #}
                        {% set subscribed = false %}
                        {% for subscription in app.user.subscriptions %}
                            {% for subscriptions in sortie.subscriptions %}
                                {% if subscription == subscriptions %}
                                    {% set subscribed = true %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        {% if subscribed == false %}
{#                            and sortie.subscriptions|length != sortie.numberMaxSub#}
{#                            and date(sortie.closingDate|date('m/d/Y')) > date("now"|date('m/d/Y'))#}
{#                            and date(sortie.limitDateSub|date('m/d/Y')) > date("now"|date('m/d/Y'))#}
{#                            and sortie.state.label != "Annulée"#}
{#                            and sortie.state.label != "Passée" %}#}
                        {% if workflow_can(sortie, 'to_Cloturee') %}
                            <a href="{{ path('subscribe', {id: sortie.id}) }}" class="subscribeLink">S'inscrire</a>
                            {% endif %}
                        {% endif %}

                        {# Se Désister #}
                        {% set subscribed = false %}
                        {% for subscription in app.user.subscriptions %}
                            {% for subscriptions in sortie.subscriptions %}
                                {% if subscription == subscriptions %}
                                    {% set subscribed = true %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}

                        {% if  subscribed %}
{#                            and sortie.startDate|date('d/m/Y à H:i') > "now"|date('d/m/Y à H:i')#}
{#                            and date(sortie.closingDate|date('m/d/Y')) > date("now"|date('m/d/Y'))#}
{#                            and sortie.state.label != "Annulée" %}#}
                        {% if workflow_can(sortie, 're_Ouverte') or sortie.status == 'Ouverte' %}
                            <a href="{{ path('unsubscribe', {id: sortie.id}) }}" class="desistLink">Se désister</a>
                        {% endif %}
                        {% endif %}


                        {# Annuler la sortie en tant qu'organisateur ou qu'admin #}
                        {% for member in sortie.member %}
                            {% if (app.user == member
                                or app.user.roles == ['ROLE_ADMIN'])
                                and sortie.state.label != "Annulée" %}
                                <a href="{{ path('cancel', {id: sortie.id}) }}" data-toggle="modal"
                                   data-target="#cancelModal" class="cancelLink">
                                    Annuler </a>
                            {% endif %}
                        {% endfor %}




                        {#                        {% if 'Creee' in workflow_marked_places(sortie) %}#}
                        {#                            <span class="label">ETAT PASSEE</span>#}
                        {#                        {% endif %}#}



                        {# Modifier la sortie ? #}
                        {% for member in sortie.member %}
                        {% if (app.user == member
                            or app.user.roles == ['ROLE_ADMIN'])
                            and sortie.state.label != "Annulée"
                            and sortie.state.label != "Clôturée" %}
                        <a href="{{ path('edit', {id: sortie.id}) }}">Modifier</a>
                    </td>

                    {% endif %}
                    {% endfor %}


                </tr>
                {% endif %}
                {% endif %}

                {% endfor %}
                </tbody>
            </table>
            </div>
            </div>

        {% endfor %}

        <!-- Modal -->
        <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"> Annuler la sortie </h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p> Un courriel sera envoyé à tous les participants. </p>
                        <p> Voulez-vous vraiment annuler la sortie ? </p>
                        <p id="alertCancel"><i class="fas fa-exclamation-triangle"> Attention cette action est
                                définitive !</i></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="cancelOuting"> Annuler la
                            sortie
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <section class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 justify-content-center mt-4 pb-4">
                <button class="btn btn-primary"><a href="{{ path('add_outing') }}"
                                                   style="color: white; text-decoration: none">Créer une nouvelle
                        sortie</a></button>

            </div>

        </div>


    </section>
    <footer class="navbar-default" style="text-align: center">

        - Made with <i class="fas fa-heart"></i> by Push Push Team -

    </footer>


    <script src="{{ asset('js/table-animation.js') }}"></script>

    {#    <script type="text/javascript" charset="utf8"#}
    {#            src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>#}

{% endblock %}

{% block script %}

    {# DATATABLES#}
{#    <script type="text/javascript" charset="utf8"#}
{#            src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>#}
{#    <script>#}
{#        $(document).ready(function () {#}

{#            /**#}
{#             * Activation du tri sur toutes les colonnes du tableau#}
{#             */#}
{#            $('#myTable').DataTable({#}
{#                columnDefs: [{#}
{#                    orderable: true,#}
{#                    targets: "_all",#}
{#                }],#}
{#                "searching": true#}
{#            });#}
{#            $('.dataTables_length').addClass('bs-select');#}
{#        });#}

{#    </script>#}

    <script>
        var url;
        var selectedTr;
        var selectedLink;
        var selected

        $('.cancelLink').on("click", function (e) {
            console.log('test');
            url = $(this).attr('href');
            console.log('test final');
            selectedTr = $(this).parents('tr');
            selectedLink = $(this).parents('td');
        });
        $('#cancelOuting').on("click", function (e) {
            console.log('test2');
            e.preventDefault();
            $.ajax({
                "url": url,
                "method": "get"
            })
                .done(function (response) {
                    console.log('test3');
                    selectedTr.find('.stateLabel').html('Annulée');
                    selectedLink.find('.desistLink').remove();
                    selectedLink.find('.subscribeLink').remove();
                    selectedLink.find('.cancelLink').remove();
                    $('#cancelModal').modal('hide');
                });
        });

        $(document).ready(function () {
            $('#table_id').DataTable();
        });

        // $(function () {
        //     $('#datetimepicker2a').datetimepicker();
        // });

        // $(function () {
        //     $('#datetimepicker2a').datetimepicker({
        //         viewMode: 'years'
        //     });
        // });
        // $(function () {
        //     $('#datetimepicker2a').datetimepicker();
        //     $('#datetimepicker2b').datetimepicker({
        //         useCurrent: false
        //     });
        //     $("#datetimepicker2a").on("change.datetimepicker", function (e) {
        //         $('#datetimepicker2b').datetimepicker('minDate', e.date);
        //     });
        //     $("#datetimepicker2b").on("change.datetimepicker", function (e) {
        //         $('#datetimepicker2a').datetimepicker('maxDate', e.date);
        //     });
        // });
        // $(function () {
        //     $('#datetimepicker2a').datetimepicker({
        //         locale: 'fr',
        //         icons: {
        //             time: "fa fa-clock-o",
        //             date: "fa fa-calendar",
        //             up: "fa fa-arrow-up",
        //             down: "fa fa-arrow-down"
        //         }
        //     });
        // });
        // $(function () {
        //     $('#datetimepicker2b').datetimepicker({
        //         locale: 'fr',
        //         icons: {
        //             time: "fa fa-clock-o",
        //             date: "fa fa-calendar",
        //             up: "fa fa-arrow-up",
        //             down: "fa fa-arrow-down"
        //         }
        //     });
        // });
        // $(function () {
        //     $(".scrollbar-sunny-morning").onclick(function (){
        //         $('#datetimepicker2b').hide.datetimepicker();
        //     });
        // });
    </script>



{% endblock %}





