{% extends 'layout.html.twig' %}

{% block title %}Sortir.com{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/style-table.css') }}">
{% endblock %}
{% block body %}
    <div>
        <h1>Bienvenue sur Sortir.com !</h1>
        <h2 class="d-none d-md-block"> Envie <span class="typing"></span></h2>
        <script
                src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>
        <script src="js/typed.min.js"></script>
        <script src="js/animation.js"></script>

        <h2> Rejoignez le réseau de l'ENI !</h2>

        <h3> Qu'avez-vous manqué aujourd'hui ? </h3><br>
    </div>

    <div class="container">

        <div class="row">
            {#

                        {% for article in articles %}
                            <div class="col-lg-3" id="box-shadow">
                                <ul style="list-style-image: url({{ asset('img/hang.png') }})">
                                    {% if app.user %}
                                    <a href="{{ path('detail', {'id':article.id}) }}">
                                        {% endif %}
                                        <img id="article-image" src="{{ asset('uploads/images') }}/{{ article.image }}  "
                                             alt="article"></a>
                                    <li> Nom : {{ article.nom }}</li>
                                    <li> Description : {{ article.description }}</li>
                                    <li> Echangé par : {{ article.user.getUsername() }}</li>
                                </ul>
                            </div>
                        {% else %}
                            Il n'y a pas d'articles à échanger.
                        {% endfor %}#}


        </div>
    </div>

    <section id="section-filtre">


        formulaire de filtre à faire


    </section>

    <section id="section-tableau-sorties">

        <div class="tab">
            {% for site in sites %}

                {% if app.user.site == site.name %}

                    <button class="tablinks active"
                            onclick="openCity(event, '{{ site.name }}')">{{ site.name }}</button>
                {% else %}
                    <button class="tablinks" onclick="openCity(event, '{{ site.name }}')">{{ site.name }}</button>

                {% endif %}
            {% endfor %}
        </div>


        <!-- Tab content -->
        <div id="London" class="tabcontent">
            <h3>ENI Nantes</h3>

            <table style="width:100%">
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>Inscrits/Places</th>
                    <th>Etat</th>
                    <th>Déjà inscrit?</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                </tr>

                {% for sortie in sorties %}
                    <tr>
                        <td>{{ sortie.name }}</td>
                        <td>{{ sortie.startDate|date('d/m/Y à H:i') }}</td>
                        <td>{{ sortie.closingDate|date('d/m/Y') }}</td>
                        <td><small>{{ sortie.numberSub }}</small>/{{ sortie.numberMaxSub }}</td>
                        <td>{{ sortie.state.label }}</td>
                        <td> Oui!</td>
                        {#                    <td>{{dump(sortie.member)}}</td>#}
                        {% for member in sortie.member %}
                            <td> {{ member.username }}</td>
                        {% endfor %}
                        <td>
                            {#                            <a href="#">Afficher</a>#}
                            <a href="{{ path('detail', {id: sortie.id}) }}">Afficher</a>
                        </td>
                    </tr>
                {% endfor %}

            </table>
        </div>


        {% for site in sites %}

        <!-- Tab content -->

        {% if app.user.site == site.name %}

        <section id="{{ site.name }}" class="tabcontent" style="display: block">
            {% else %}
            <div id="{{ site.name }}" class="tabcontent">
                {% endif %}
                <h3>{{ site.name }}</h3>

                <table style="width:100%">
                    <tr>
                        <th>Nom de la sortie</th>
                        <th>Date de la sortie</th>
                        <th>Clôture</th>
                        <th>Inscrits/Places</th>
                        <th>Etat</th>
                        <th>Déjà inscrit?</th>
                        <th>Organisateur</th>
                        <th>Actions</th>
                    </tr>

                    {% for sortie in sorties %}
                        {% for member in sortie.member %}
                            {% if site.name == member.site %}

                                <tr>
                                    <td>{{ sortie.name }}</td>
                                    <td>{{ sortie.startDate|date('d/m/Y à H:i') }}</td>
                                    <td>{{ sortie.closingDate|date('d/m/Y') }}</td>
                                    <td><small>{{ sortie.numberSub }}</small>/{{ sortie.numberMaxSub }}</td>
                                    <td>{{ sortie.state.label }}</td>
                                    <td> Oui!</td>
                                    {#                    <td>{{dump(sortie.member)}}</td>#}
                                    {% for member in sortie.member %}
                                        <td> {{ member.username }}</td>
                                    {% endfor %}
                                    {% if site.name == 'ENI NANTES' %}
                                        <td>
                                            <a href="#">Prout</a>
                                        </td>
                                    {% else %}
                                        <td>
                                            {#                                            <a href="#">Afficher</a>#}
                                            <a href="{{ path('detail', {'id': sortie.id}) }}">Afficher</a>

                                        </td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}


                    {% endfor %}

                </table>
            </div>


            {% endfor %}


        </section>
    </section>

    <script src="{{ asset('js/table-animation.js') }}"></script>
{% endblock %}
