{% extends 'layout.html.twig' %}

{% block title %}Sortir.com{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/style-table.css') }}">

{% endblock %}
{% block body %}

    {% for message in app.flashes('success') %}
        <div class=" container flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    <div>
        <h1>Bienvenue sur Sortir.com !</h1>
        {#        <h2 class="d-none d-md-block"> Envie <span class="typing"></span></h2>#}
        {#        <script#}
        {#                src="https://code.jquery.com/jquery-3.4.1.min.js"#}
        {#                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="#}
        {#                crossorigin="anonymous"></script>#}
        {#        <script src="js/typed.min.js"></script>#}
        {#        <script src="js/animation.js"></script>#}

        <h2> Rejoignez le réseau de l'ENI !</h2>

        <h3> Qu'avez-vous manqué aujourd'hui ? </h3><br>
    </div>

    <div class="container">

        <div class="row">
            {#

                        {% for article in articles %}
                            <div class="col-lg-3" id="box-shadow">
                                <ul style="list-style-image: url({{ asset('img/hang.png') }})">
                                    {% if app.user %}
                                    <a href="{{ path('detail', {'id':article.id}) }}">
                                        {% endif %}
                                        <img id="article-image" src="{{ asset('uploads/images') }}/{{ article.image }}  "
                                             alt="article"></a>
                                    <li> Nom : {{ article.nom }}</li>
                                    <li> Description : {{ article.description }}</li>
                                    <li> Echangé par : {{ article.user.getUsername() }}</li>
                                </ul>
                            </div>
                        {% else %}
                            Il n'y a pas d'articles à échanger.
                        {% endfor %}#}


        </div>
    </div>

    <section id="section-filtre">


        {% include 'includes/homeFilter.html.twig' with {form: form} only %}


    </section>

    <section id="section-tableau-sorties">

        <div class="tab">
            {% for site in sites %}

                {% if app.user.site == site.name %}

                    <button class="tablinks active"
                            onclick="openCity(event, '{{ site.name }}')">{{ site.name }}</button>
                {% else %}
                    <button class="tablinks" onclick="openCity(event, '{{ site.name }}')">{{ site.name }}</button>

                {% endif %}
            {% endfor %}
        </div>


        {% for site in sites %}

            <!-- Tab content -->

            {% if app.user.site == site.name %}

                <div id="{{ site.name }}" class="tabcontent" style="display: block">
            {% else %}
                <div id="{{ site.name }}" class="tabcontent">
            {% endif %}
            <h3>{{ site.name }}</h3>

            {# Tableau des sorties #}
            <table style="width:100%">
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>Inscrits/Places</th>
                    <th>Etat</th>
                    <th>Déjà inscrit?</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                </tr>

                {% for sortie in sorties %}

                    {% if site.name == sortie.site %}

                        <tr>
                            {# Titre de la sortie #}
                            <td>{{ sortie.name }}</td>
                            {# Date de la sortie #}
                            <td>{{ sortie.startDate|date('d/m/Y à H:i') }}</td>
                            {# Date de cloture de l'inscription #}
                            <td>{{ sortie.closingDate|date('d/m/Y') }}</td>
                            {# Nb inscrits / Nb places #}
                            {% if sortie.numberSub == sortie.numberMaxSub %}
                                <td>
                                    <span style="color: red; font-weight: bold">{{ sortie.subscriptions|length }}</span>/{{ sortie.numberMaxSub }}
                                </td>
                            {% else %}
                                <td>
                                    <span style="color: green; font-weight: bold">{{ sortie.subscriptions|length }}</span>/{{ sortie.numberMaxSub }}
                                </td>

                            {% endif %}

                            {# Etat de la sortie #}
                            <td>{{ sortie.state.label }}</td>

                            {# Déjà inscrit? #}
                            {% set subscribed = false %}
                            {% for subscription in app.user.subscriptions %}
                                {% for subscriptions in sortie.subscriptions %}
                                    {% if subscription == subscriptions %}
                                        {% set subscribed = true %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            {% if subscribed %}
                                <td> Oui</td>
                            {% else %}
                                <td>Pas encore !</td>
                            {% endif %}
{#=======#}


{#                            #}{# Indique si l'utilisateur est inscrit à la sortie #}

{#                            {% for sub in subscriptions %}#}
{#                            {% if sub.member.id == app.user.id %}#}
{#                                {% if sortie.subscriptions == sub.id %}#}
{#                                <td> Oui</td>#}
{#                            {% else %}#}
{#                                <td></td>#}
{#                                    {% endif %}#}
{#                            {% endif %}#}
{#                            {% endfor %}#}

{#                            <td> Oui</td>#}


{#>>>>>>> d1ad8484d3566cd9b5c6490b7930b5b5c5428b0b#}
                            {#                    <td>{{dump(sortie.member)}}</td>#}
                            {# Organisateur #}
                            {% for member in sortie.member %}
                                <td> {{ member.username }}</td>
                            {% endfor %}

                            {# Actions possibles #}
                            <td>
                                {# Afficher la sortie #}
                                <a href="{{ path('detail', {id: sortie.id}) }}">Afficher</a>

                                {# S'inscrire | Cloturer la sortie #}
                                {% set subscribed = false %}
                                {% for subscription in app.user.subscriptions %}
                                    {% for subscriptions in sortie.subscriptions %}
                                        {% if subscription == subscriptions %}
                                            {% set subscribed = true %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                {% if sortie.state.label == 'Ouverte' or sortie.state.label == "Activité en cours"
                                    and subscribed == false
                                    and sortie.subscriptions|length != sortie.numberMaxSub
                                    and sortie.closingDate|date('d/m/Y') > "now"|date('d/m/Y')
                                    and sortie.limitDateSub|date('d/m/Y') > "now"|date('d/m/Y') %}
                                    <a href="{{ path('subscribe', {id: sortie.id}) }}">S'inscrire</a>
                                {% endif %}

                                {# Se Désister #}
                                {% set subscribed = false %}
                                {% for subscription in app.user.subscriptions %}
                                    {% for subscriptions in sortie.subscriptions %}
                                        {% if subscription == subscriptions %}
                                            {% set subscribed = true %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}

                                {% if  subscribed
                                    and sortie.state.label == 'Ouverte' or sortie.state.label == "Activité en cours"
                                    and sortie.startDate|date('d/m/Y à H:i') > "now"|date('d/m/Y à H:i')
                                    and sortie.closingDate|date('d/m/Y') > "now"|date('d/m/Y') %}
                                    <a href="{{ path('unsubscribe', {id: sortie.id}) }}">Se désister</a>
                                {% endif %}
                                {# Annuler la sortie en tant qu'organisateur ou qu'admin #}
                                {#                                {% if app.user == sortie.member #}
                                {#                                    or app.user.roles == ['ROLE_ADMIN'] #}
                                {#                                    and sortie.state.label != "Annulée"#}
                                {#                                %}#}
                                {#                                    <a href="{{ path('cancel', {id: sortie.id}) }}">Annuler</a>#}
                                {#                                {% endif %}#}

                                {# Modifier la sortie ? #}
                                {#                        <a href="{{ path('edit', {id: sortie.id}) }}">Modifier</a>#}
                            </td>


                        </tr>
                    {% endif %}

                {% endfor %}

            </table>
            </div>
            </div>

        {% endfor %}


    </section>

    <section class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 justify-content-center mt-4 pb-4">
                <button class="btn btn-primary"><a href="{{ path('add_outing') }}"
                                                   style="color: white; text-decoration: none">Créer une nouvelle
                        sortie</a></button>

            </div>

        </div>


    </section>

    <footer>
        <div></div>
        Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>


    </footer>
    <script src="{{ asset('js/table-animation.js') }}"></script>
{% endblock %}
