{% extends 'layout.html.twig' %}

{% block title %} Ajout d'une sortie {% endblock %}

{% block body %}


<h2> Créer une sortie </h2>

<div class="container">
    <div class="row">
        <div class="col-lg-4">

            {# Todo : ajouter upload image #}

        </div>

        <div class="col-lg-4">
            {{ form_start(outingFormView) }}

            {{ form_label(outingFormView.name) }}
            {{ form_widget(outingFormView.name) }}
            {{ form_errors(outingFormView.name) }} <br>

            {{ form_label(outingFormView.startDate) }}
            {{ form_widget(outingFormView.startDate) }}
            {{ form_errors(outingFormView.startDate) }} <br>

            {{ form_label(outingFormView.limitDateSub) }}
            {{ form_widget(outingFormView.limitDateSub) }}
            {{ form_errors(outingFormView.limitDateSub) }} <br>

            {{ form_label(outingFormView.numberMaxSub) }}
            {{ form_widget(outingFormView.numberMaxSub) }}
            {{ form_errors(outingFormView.numberMaxSub) }} <br>

            {{ form_label(outingFormView.duration) }}
            {{ form_widget(outingFormView.duration) }}
            {{ form_errors(outingFormView.duration) }} minutes <br>

            {{ form_label(outingFormView.description) }}
            {{ form_widget(outingFormView.description) }}
            {{ form_errors(outingFormView.description) }} <br>

            {{ form_label(outingFormView.ville) }}
            {{ form_widget(outingFormView.ville) }}
            {{ form_errors(outingFormView.ville) }} <br>

            {{ form_label(outingFormView.place) }}
            {{ form_widget(outingFormView.place) }}
            {{ form_errors(outingFormView.place) }} <br>

            <div class="col-sm-12 text-center">

                <input class="btn btn-primary" type="submit" name="submitAction" value="Enregistrer">
                <input class="btn btn-primary" type="submit" name="submitAction" value="Publier">
                <input class="btn btn-primary" type="submit" value="Annuler">

                {{ form_end(outingFormView) }}

            </div>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#placeForm">
                <i class="fas fa-plus-circle"></i>
            </button>

            <!-- Modal -->
            <div class="modal fade bd-example-modal-xl" id="placeForm" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                    <div class="modal-content" id="contentForm">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Ajouter un lieu</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-6">


                                    {# partie formulaire#}

                                    {{ form_start(placeFormView, {'attr': {'id': 'startForm'}}) }}

                                    {{ form_label(placeFormView.adresse) }}
                                    {{ form_widget(placeFormView.adresse) }}
                                    {{ form_errors(placeFormView.adresse) }} <br>

                                    {{ form_label(placeFormView.name) }}
                                    {{ form_widget(placeFormView.name) }}
                                    {{ form_errors(placeFormView.name) }} <br>

                                    {{ form_label(placeFormView.street) }}
                                    {{ form_widget(placeFormView.street) }}
                                    {{ form_errors(placeFormView.street) }} <br>

                                    {{ form_label(placeFormView.zipcode) }}
                                    {{ form_widget(placeFormView.zipcode) }}
                                    {{ form_errors(placeFormView.zipcode) }} <br>

                                    {{ form_label(placeFormView.city) }}
                                    {{ form_widget(placeFormView.city) }}
                                    {{ form_errors(placeFormView.city) }} <br>

                                    {{ form_label(placeFormView.latitude) }}
                                    {{ form_widget(placeFormView.latitude) }}
                                    {{ form_errors(placeFormView.latitude) }} <br>

                                    {{ form_label(placeFormView.longitude) }}
                                    {{ form_widget(placeFormView.longitude) }}
                                    {{ form_errors(placeFormView.longitude) }} <br>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer
                                        </button>
                                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                                    </div>

                                    {{ form_end(placeFormView) }}

                                </div>

                                <div class="col-lg-6" id='map' style="width: 20%;">
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4">


            </div>


        </div>

    </div>

    {% endblock %}

    {% block script %}
        <script>
            $(document).ready(function () {
                $('.select2').select2();
            });
        </script>

        <script src="{{ asset('js/geoloc.js') }}"></script>

        <script>
            $('#startForm').on("submit", function (e) {
                e.preventDefault();
                $.ajax({
                    "url": "{{ path('add_place') }}",
                    "data": $("#startForm").serialize(),
                    "method": "post"
                })
                    .done(function (response) {
                        console.log(response.status);
                        if (response.status == "nok") {
                            console.log('error');
                            var linkCity = $("<p style=\"color:#FCC258;;\"> La ville n\'existe pas, ajoutez là ! <a href=\"{{ path('city') }}\" > <i class=\"fas fa-plus\" ></i></a></p>")
                            $('#startForm').prepend(linkCity);
                        } else {
                            var option = $("<option>").attr("value", response.place.id);
                            option.html(response.place.name);
                            option.prop('selected', true);
                            $("#outing_place").prepend(option);
                            $("#placeForm").modal('hide');
                        }
                    });
            });

        </script>

    {% endblock %}







