{% extends 'layout.html.twig' %}

{% block title %} Ajout d'une sortie {% endblock %}

{% block body %}


<h1> Créer une sortie <i class="fas fa-pizza-slice"></i>
</h1>

<div class="container justify-content-center">
        <div class="col-lg-2"></div>
        <div class="contenantForm col-lg-8 align-self-center" style="border-radius: 10px;">
            {{ form_start(outingFormView) }}
            <div class="row justify-content-start">
            <div class="col-lg-5">
                {{ form_widget(outingFormView.name) }}
                {{ form_errors(outingFormView.name) }} <br>
            </div>
            </div>


            <div class="row justify-content-start">
            <div class="col-lg-6 form-group">
                <div class="input-group date picker" id="datetimepicker2c" data-target-input="nearest">
                    {{ form_widget(outingFormView.startDate) }}
                    {{ form_errors(outingFormView.startDate) }}

                    <div class="input-group-append" data-target="#datetimepicker2c"
                         data-toggle="datetimepicker" style="height: 38px">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>


            <div class="col-lg-5 form-group">
                <div class="input-group date picker" id="datetimepicker2d" data-target-input="nearest">
                    {{ form_widget(outingFormView.limitDateSub) }}
                    {{ form_errors(outingFormView.limitDateSub) }}

                    <div class="input-group-append" data-target="#datetimepicker2d"
                         data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>


                </div>
            </div>
            </div>
            <div class="row justify-content-start">
            <div class="col-lg-4">
            {{ form_widget(outingFormView.numberMaxSub) }}
            {{ form_errors(outingFormView.numberMaxSub) }} <br>
            </div>
            <div class="col-lg-4">
            {{ form_widget(outingFormView.duration) }}
            {{ form_errors(outingFormView.duration) }} <br>
            </div>
            </div>
            <div class="row justify-content-start">
            <div class="col-lg-7">
            {{ form_widget(outingFormView.description) }}
            {{ form_errors(outingFormView.description) }} <br>
            </div>
            </div>
            <div class="col-lg-4">
            {{ form_widget(outingFormView.ville) }}
            {{ form_errors(outingFormView.ville) }}<br><br>
            </div>

            <div class="col-lg-4 placeChoice">
                {{ form_widget(outingFormView.place) }}
                {{ form_errors(outingFormView.place) }}

                <button type="button" class="btn blue-gradient btn-block btn-rounded z-depth-1a" style="background-color: #142340;
    color: #FFC952;width:auto; margin-left: 50px" data-toggle="modal"
                        data-target="#placeForm">
                    <i class="fas fa-plus-circle"></i>
                </button>
                <br>
            </div>

            <div class="col-sm-12 text-center">
                <input class="btn blue-gradient btn-block btn-rounded z-depth-1a" style="background-color: #142340;
    color: #FFC952;" type="submit" name="submitAction" value="Enregistrer"><br>
                <input class="btn blue-gradient btn-block btn-rounded z-depth-1a" style="background-color: #142340;
    color: #FFC952;" type="submit" name="submitAction"
                       value="Publier"><br>
                {{ form_end(outingFormView) }}

            </div>

            <div class="col-sm-12 text-center" style="padding-left:3em; padding-right: 3em">
                <a href="{{ path('home') }}"><input
                            class="btn blue-gradient btn-block btn-rounded z-depth-1a"
                            style="background-color: #142340;
    color: #FFC952;" type="submit" value="Annuler"></a><br>

            </div>

            <!-- Modal -->
            <div class="modal fade bd-example-modal-xl" id="placeForm" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                    <div class="modal-content" id="contentForm">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Ajouter un lieu</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row align-items-center">
                                <div class="contenantForm col-lg-6">


                                    {# partie formulaire#}

                                    {{ form_start(placeFormView, {'attr': {'id': 'startForm'}}) }}

                                    {{ form_widget(placeFormView.adresse) }}
                                    {{ form_errors(placeFormView.adresse) }} <br>

                                    {{ form_widget(placeFormView.name) }}
                                    {{ form_errors(placeFormView.name) }} <br>

                                    {{ form_widget(placeFormView.street) }}
                                    {{ form_errors(placeFormView.street) }} <br>

                                    {{ form_widget(placeFormView.zipcode) }}
                                    {{ form_errors(placeFormView.zipcode) }} <br>

                                    {{ form_widget(placeFormView.city) }}
                                    {{ form_errors(placeFormView.city) }} <br>

                                    {{ form_widget(placeFormView.latitude) }}
                                    {{ form_errors(placeFormView.latitude) }} <br>

                                    {{ form_widget(placeFormView.longitude) }}
                                    {{ form_errors(placeFormView.longitude) }} <br>

                                    <div class="modal-footer">
                                        <button type="submit"
                                                class="btn blue-gradient btn-block btn-rounded z-depth-1a" style="background-color: #142340;
    color: #FFC952;">Enregistrer
                                        </button>
                                        <button type="button"
                                                class="btn blue-gradient btn-block btn-rounded z-depth-1a"
                                                style="background-color: #142340;
    color: #FFC952;" data-dismiss="modal">Fermer
                                        </button>
                                    </div>

                                    {{ form_end(placeFormView) }}

                                </div>

                                <div class="col-lg-6" id='map' style="width: 20%;">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-2">


            </div>


        </div>
    <div class="col-lg-2"></div>

    </div>

    {% endblock %}

    {% block script %}
        <script>
            $(document).ready(function () {
                $('.select2').select2();
            });
        </script>

        <script src="{{ asset('js/geoloc.js') }}"></script>

        <script>
            $('#startForm').on("submit", function (e) {
                e.preventDefault();
                $.ajax({
                    "url": "{{ path('add_place') }}",
                    "data": $("#startForm").serialize(),
                    "method": "post"
                })
                    .done(function (response) {
                        console.log(response.status);
                        if (response.status == "nok") {
                            console.log('error');
                            var linkCity = $("<p style=\"color:red;font-size:bold;\"> La ville n\'existe pas, ajoutez là ! <a href=\"{{ path('city') }}\" > <i class=\"fas fa-plus\" ></i></a></p>")
                            $('#startForm').prepend(linkCity);
                        } else {
                            var option = $("<option>").attr("value", response.place.id);
                            option.html(response.place.name);
                            option.prop('selected', true);
                            $("#outing_place").prepend(option);
                            $("#placeForm").modal('hide');
                        }
                    });
            });
        </script>

    {% endblock %}