{% extends 'layout.html.twig' %}

{% block title %} Détails de la sortie {% endblock %}

{% block body %}

    <div class="container">
        <h1>Afficher une sortie</h1>

        {# RECAP DE LA SORTIE #}
        <h3>Récapitulatif de la sortie</h3>
        <div class="row mt-3 recap">
            <div class="col-sm-12 col-md-6">
                <div class="col">
                    <label>Nom de la sortie : </label>
                    <span>{{ outing.name }}</span>
                </div>
                <div class="col">
                    <label>Date et heure : </label>
                    <span>{{ outing.startDate|date('d-m-Y h:i', "Europe/Paris") }}</span>
                </div>
                <div class="col">
                    <label>Date limite d'inscription : </label>
                    <span>{{ outing.limitDateSub|date('d-m-Y h:i', "Europe/Paris") }}</span>
                </div>
                <div class="col">
                    <label>Nom de places : </label>
                    <span>{{ outing.numberMaxSub }}</span>
                </div>
                <div class="col">
                    <label>Durée :</label>
                    <span>{{ outing.duration }} minutes</span>
                </div>
                <div class="col">
                    <label>Description et infos : </label>
                    <span>{{ outing.description }}</span>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 ">
                <div class="col">
                    <label>Ville organisatrice :</label>
                    <span>{{ outing.site.name }}</span>
                </div>
                <div class="col">
                    <label>Lieu : </label>
                    <span>{{ outing.place.name }}</span>
                </div>
                <div class="col">
                    <label>Rue :</label>
                    <span>{{ outing.place.street }}</span>
                </div>
                <div class="col">
                    <label>Code postal :</label>
                    <span>{{ outing.place.city.codesPostaux }}</span>
                </div>
                <div class="col">
                    <label>Latitude :</label>
                    <span>{{ outing.place.latitude }}</span>
                </div>
                <div class="col">
                    <label>Longitude :</label>
                    <span>{{ outing.place.longitude }}</span>
                </div>
            </div>
        </div>

        {# AFFICHE LA LISTE DES PARTICIPANTS A LA SORTIE + S'INSCRIRE / ANNULER #}
        <h3>Liste des participants inscrits </h3>
        <div class="row mt-5 mb-5 d-flex justify-content-between subscribersList">


                <table class="myTable" class="table col-md-6">
                    <thead>
                    <tr>
                        <th>Pseudo</th>
                        <th>Nom</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for members in subList %}
                        <tr>
                            <td><a href="{{ path('user_other_profile', {id: members.member.id}) }}">{{ members.member.username }}</a></td>
                            <td>{{ members.member.firstname }} </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>


            <div class="col-md-6 text-center">
                <div>
{#                    <input class="btn w-50 mb-4" type="submit" name="submitAction" value="S'inscrire" style="background-color: #142340; color: #FFC952;">#}
                    <a href="{{ path('subscribe', {id: outing.id}) }}"><input class="btn w-50 mb-4" type="button" value="S'inscrire" style="background-color: #142340; color: #FFC952;"></a>

                </div>
                <div>
                    <a href="{{ path('home') }}"><input class="btn w-50 mb-4" type="button" value="Annuler" style="background-color: #142340; color: #FFC952;"></a>
                </div>


            </div>
        </div>
    </div>



{% endblock %}
{% block script %}
<script>
    $(document).ready( function () {
        $('.myTable').DataTable();
    } );
</script>
{% endblock %}



