{{ form_start(form) }}
<div class="container">
    <div class="row">
        <div class="container col-sm-6">
            <div class="row">
                {{ form_label(form.motCle) }}
                {{ form_widget(form.motCle) }}
                {{ form_errors(form.motCle) }}

            </div>




                    <div class="container">
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="form-group">
                                    {{ form_label(form.beginDate) }}<div class="col-sm-1"></div>
                                    <div class="input-group date" id="datetimepicker2" data-target-input="nearest">


                                        {{ form_widget(form.beginDate) }}
                                        {{ form_errors(form.beginDate) }}

{#                                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2"/>#}
                                        <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>



                
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="form-group">
                            {{ form_label(form.endDate) }}<div class="col-sm-1"></div>
                            <div class="input-group date" id="datetimepicker2" data-target-input="nearest">


                                {{ form_widget(form.endDate) }}
                                {{ form_errors(form.endDate) }}

                                {#                                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2"/>#}
                                <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>





        </div>

        <div class="container col-sm-3">
            <div class="row">
                {{ form_label(form.dureeMin) }}
                {{ form_widget(form.dureeMin) }}
                {{ form_errors(form.dureeMin) }}
            </div>
            <div class="row">
                {{ form_label(form.dureeMax) }}
                {{ form_widget(form.dureeMax) }}
                {{ form_errors(form.dureeMax) }}
            </div>
            <div class="row">
                {{ form_label(form.orga) }}
                {{ form_widget(form.orga) }}
                {{ form_errors(form.orga) }}

            </div>
            <div class="row">
                {{ form_label(form.inscrit) }}
                {{ form_widget(form.inscrit) }}
                {{ form_errors(form.inscrit) }}

            </div>
            <div class="row" >
                {{ form_label(form.notInscrit) }}
                {{ form_widget(form.notInscrit) }}
                {{ form_errors(form.notInscrit) }}

            </div>
            <div class="row">
                {{ form_label(form.passee) }}
                {{ form_widget(form.passee) }}
                {{ form_errors(form.passee) }}

            </div>

        </div>





        <div class="container col-sm-3">
            <button type="submit" class="btn btn-primary w-100">Rechercher</button>

        </div>

    </div>
</div>
{{ form_end(form) }}



