{% extends 'layout.html.twig' %}

{% block title %} Ajouter un lieu {% endblock %}

{% block body %}
    <h2> Créer un lieu</h2>

    {
    <div class="container">
        <div class="row">

            <div class="col-lg-6">
                {{ form_start(placeFormView) }}

                {{ form_label(placeFormView.adresse) }}
                {{ form_widget(placeFormView.adresse) }}
                {{ form_errors(placeFormView.adresse) }} <br>

                {{ form_label(placeFormView.name) }}
                {{ form_widget(placeFormView.name) }}
                {{ form_errors(placeFormView.name) }} <br>

                {{ form_label(placeFormView.street) }}
                {{ form_widget(placeFormView.street) }}
                {{ form_errors(placeFormView.street) }} <br>

                {{ form_label(placeFormView.zipcode) }}
                {{ form_widget(placeFormView.zipcode) }}
                {{ form_errors(placeFormView.zipcode) }} <br>

                {{ form_label(placeFormView.city) }}
                {{ form_widget(placeFormView.city) }}
                {{ form_errors(placeFormView.city) }} <br>

                {{ form_label(placeFormView.latitude) }}
                {{ form_widget(placeFormView.latitude) }}
                {{ form_errors(placeFormView.latitude) }} <br>

                {{ form_label(placeFormView.longitude) }}
                {{ form_widget(placeFormView.longitude) }}
                {{ form_errors(placeFormView.longitude) }} <br>

            </div>
            <div class="col-lg-6">

                <div id='map' style="position: absolute; top: 0; bottom: 0; width: 90%; height: 80%; margin: 10px;">

                </div>
            </div>

            <div class="col-sm-12 text-center">

                <input class="btn btn-primary" type="submit" name="submitAction" value="Enregistrer">
                {#<input class="btn btn-primary" type="submit" value="Annuler">#}

                {{ form_end(placeFormView) }}

            </div>
        </div>

    </div>

{% endblock %}

 {% block script %}


     <script>
         var placesAutocomplete = places({
             appId: 'plF08LHPG3UQ',
             apiKey: 'c68f096186cd99643002baf53e425d81',
             container: document.querySelector('#place_adresse')
         });
         placesAutocomplete.on('change', e => {
             document.querySelector('#place_city').value = e.suggestion.city;
             document.querySelector('#place_street').value = e.suggestion.name;
             document.querySelector('#place_zipcode').value = e.suggestion.postcode;
             document.querySelector('#place_latitude').value = e.suggestion.latlng.lat;
             document.querySelector('#place_longitude').value = e.suggestion.latlng.lng;
             var lat = e.suggestion.latlng.lat;
             var long = e.suggestion.latlng.lng;

             mapboxgl.accessToken = 'pk.eyJ1IjoicGF1bGluZW9obGl2ZCIsImEiOiJjazZobThqNm8yZm81M2xtZ2JiMjAwYTU4In0.rd9tpEypJqJ9VH4Z6r05lQ';
             var map = new mapboxgl.Map({
                 container: 'map', // Container ID
                 style: 'mapbox://styles/mapbox/streets-v11', // Map style to use
                 center: [long, lat], // Starting position [lng, lat]
                 zoom: 12, // Starting zoom level
             });

             var marker = new mapboxgl.Marker() // initialize a new marker
                 .setLngLat([long, lat]) // Marker [lng, lat] coordinates
                 .addTo(map); // Add the marker to the map
         })

     </script>

 {% endblock %}
