{% extends 'layout.html.twig' %}

{% block body %}
    <h1> Profil </h1>
    <div class="container">
        <div class="contenantForm row">
            <div class="col-lg-4">
                <img id="image-create" src="{{ asset('img/articleimage.png') }}" alt="image">
                <label> {{ member.username }} </label>
                {#            <span>{{ member.image }}</span>#}

            </div>

            <div class="col-lg-8">

                <div class="col">
                    <label> </label>
                    <span>{{ member.username }}</span>
                </div>
                <div class="col">
                    <label> </label>
                    <span>{{ member.firstname }}</span>
                </div>
                <div class="col">
                    <label> </label>
                    <span>{{ member.email }}</span>
                </div>
                <div class="col">
                    <label> </label>
                    <span>{{ member.site }}</span>
                </div>


            </div>

        </div>


    </div>
{% endblock %}