{% extends 'layout.html.twig' %}

{% block title %} Création d'un compte {% endblock %}

{% block body %}

    <h1> Créer un compte <i class="fas fa-keyboard"></i> </h1>

    <div class="container contenantForm">
        <div class="row d-flex justify-content-between">

            <div class="col-lg-5 mb-4 mr-1">
                {{ form_start(MemberFormView) }}

                {{ form_label(MemberFormView.username) }}
                {{ form_widget(MemberFormView.username) }}
                {{ form_errors(MemberFormView.username) }} <br>

                {{ form_label(MemberFormView.name) }}
                {{ form_widget(MemberFormView.name) }}
                {{ form_errors(MemberFormView.name) }} <br>

                {{ form_label(MemberFormView.firstname) }}
                {{ form_widget(MemberFormView.firstname) }}
                {{ form_errors(MemberFormView.firstname) }} <br>

                {{ form_label(MemberFormView.site) }}
                {{ form_widget(MemberFormView.site) }}
                {{ form_errors(MemberFormView.site) }} <br>


            </div>

            <div class="col-lg-5 mb-4">


                {{ form_label(MemberFormView.phone) }}
                {{ form_widget(MemberFormView.phone) }}
                {{ form_errors(MemberFormView.phone) }} <br>

                {{ form_label(MemberFormView.email) }}
                {{ form_widget(MemberFormView.email) }}
                {{ form_errors(MemberFormView.email) }} <br>

                {{ form_label(MemberFormView.plainPassword) }}
                {{ form_widget(MemberFormView.plainPassword) }}
                {{ form_errors(MemberFormView.plainPassword) }} <br>

            </div>


            <div class="col-sm-12 text-center">

                <input class="btn w-50 mb-5" type="submit" name="submitAction" value="Enregistrer" style="background-color: #142340; color: #FFC952;">
                {{ form_end(MemberFormView) }}
                <a href="{{ path('home') }}"><input class="btn w-50 mb-4" type="button" value="Annuler" style="background-color: #142340; color: #FFC952;"></a>
          </div>

        </div>

    </div>



{%  endblock %}


